.fundo-home{
	background-color: black;
	opacity: 0.3;
}

body {
    position: relative; 
}

  #section1{
    padding-top:50px;
    height:700px;
    color: #fff;
    background-color: #1E88E5;
}

#section2{
    padding-top:50px;
    height:700px;
    color: #fff;
    background-color: #673ab7;
}

#section3{
    padding-top:50px;
    height:700px;
    color: #fff;
    background-color: #ff9800;
}

