.fundo-home{
	background-color: #ffffff;
	opacity: 0.3;
}

.bg{
	background-repeat: no-repeat;
}

.btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #ffffff;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background-color: #ffffff;
    color: white;
    font-size: 17px;
    border: 7px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #000000;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

#painel-maps{
    margin-top: 20px;
}
