.fundo-home{
	background-color: #ffffff;
	opacity: 0.3;
}

.bg{
	background-repeat: no-repeat;
}

.btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: black;
    color: white;
}